@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app is a learning tool to help a new programmer create controllers and views to create, edit, view and delete an item.</p>
